In [72]:
import pandas as pd
import spacy
from sklearn.model_selection import train_test_split

In [73]:
nlp = spacy.load('en_core_web_md')
#using the english version of spacy

In [74]:
resume_dataset = pd.read_csv('UpdatedResumeDataSet.csv')
#make sure the csv is in the same file before u read it lol

In [75]:
resume_dataset
#checking

         Category                                             Resume
0    Data Science  Skills * Programming Languages: Python (pandas...
1    Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2    Data Science  Areas of Interest Deep Learning, Control Syste...
3    Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4    Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...
..            ...                                                ...
957       Testing  Computer Skills: â¢ Proficient in MS office (...
958       Testing  â Willingness to accept the challenges. â ...
959       Testing  PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...
960       Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
961       Testing  Skill Set OS Windows XP/7/8/8.1/10 Database MY...

[962 rows x 2 columns]

In [76]:
resume_dataset['Cleaned_resume'] = ' '
#inserting new column

In [77]:
resume_dataset.head()

,Category,Resume,Cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",

In [78]:
print("This is the number of unique categories in this dataset: \n")
print(resume_dataset['Category'].unique())
#We only want a few of these so we know which ones we want to keep and which ones to drop.
#Since Dalton has a pretty sizeable dataset for DevOps (100+) we're gonna drop the rest

This is the number of unique categories in this dataset:

['Data Science' 'HR' 'Advocate' 'Arts' 'Web Designing'
 'Mechanical Engineer' 'Sales' 'Health and fitness' 'Civil Engineer'
 'Java Developer' 'Business Analyst' 'SAP Developer' 'Automation Testing'
 'Electrical Engineering' 'Operations Manager' 'Python Developer'
 'DevOps Engineer' 'Network Security Engineer' 'PMO' 'Database' 'Hadoop'
 'ETL Developer' 'DotNet Developer' 'Blockchain' 'Testing']

In [79]:
print("This is the number of unique entries in each category of this dataset: \n")
print(resume_dataset['Category'].value_counts())

#gg we only have 55 devops engineer. the datasets need to have a similar amount of entries so we're gonna be combining and then dropping until an exact number remains
#let's combine HR and DevOps Engineer

This is the number of unique entries in each category of this dataset:

Java Developer               84
Testing                      70
DevOps Engineer              55
Python Developer             48
Web Designing                45
HR                           44
Hadoop                       42
Blockchain                   40
ETL Developer                40
Operations Manager           40
Data Science                 40
Sales                        40
Mechanical Engineer          40
Arts                         36
Database                     33
Electrical Engineering       30
Health and fitness           30
PMO                          30
Business Analyst             28
DotNet Developer             28
Automation Testing           26
Network Security Engineer    25
SAP Developer                24
Civil Engineer               24
Advocate                     20
Name: Category, dtype: int64

In [80]:
categories_to_keep = ['Python Developer', 'DevOps Engineer']
resume_dataset = resume_dataset[resume_dataset['Category'].isin(categories_to_keep)]
resume_dataset

#update ur resume dataset accordingly

,Category,Resume,Cleaned_resume
551,Python Developer,Technical Skills / Responsibilities: â¢ Hands...,
552,Python Developer,Education Details \r\nJune 2013 to June 2016 D...,
553,Python Developer,TECHNICAL PROFICIENCIES Platform: Ubuntu/Fedor...,
554,Python Developer,Technical Skills: Languages Python Python Fram...,
555,Python Developer,Training attended: 1. Successfully completed E...,
...,...,...,...
649,DevOps Engineer,Software Proficiency: â¢ Languages: Basics of...,
650,DevOps Engineer,CORE COMPETENCIES ~ Ant ~ Maven ~ GIT ~ Bitbuc...,
651,DevOps Engineer,Skills VISA B1-VISA (USA) Onsite Visits to Swe...,
652,DevOps Engineer,Software Proficiency: â¢ Languages: Basics of...,
653,DevOps Engineer,CORE COMPETENCIES ~ Ant ~ Maven ~ GIT ~ Bitbuc...,

In [81]:
import numpy as np

In [82]:
random_selections = np.random.choice(resume_dataset.index, size=3, replace=False)
resume_dataset = resume_dataset.drop(random_selections)
resume_dataset
#size = 3 == select 3, replace = False == each index can only be selected once

,Category,Resume,Cleaned_resume
551,Python Developer,Technical Skills / Responsibilities: â¢ Hands...,
552,Python Developer,Education Details \r\nJune 2013 to June 2016 D...,
553,Python Developer,TECHNICAL PROFICIENCIES Platform: Ubuntu/Fedor...,
554,Python Developer,Technical Skills: Languages Python Python Fram...,
555,Python Developer,Training attended: 1. Successfully completed E...,
...,...,...,...
649,DevOps Engineer,Software Proficiency: â¢ Languages: Basics of...,
650,DevOps Engineer,CORE COMPETENCIES ~ Ant ~ Maven ~ GIT ~ Bitbuc...,
651,DevOps Engineer,Skills VISA B1-VISA (USA) Onsite Visits to Swe...,
652,DevOps Engineer,Software Proficiency: â¢ Languages: Basics of...,
653,DevOps Engineer,CORE COMPETENCIES ~ Ant ~ Maven ~ GIT ~ Bitbuc...,

In [83]:
import re
#manipulation of regular expressions

In [84]:
def cleaning_resume_dataset(your_dataset):
    your_dataset = re.sub('RT|cc', ' ', your_dataset) #remove RT and CC
    your_dataset = re.sub('#\S+', ' ', your_dataset)
    your_dataset = re.sub('@\S+', ' ', your_dataset)
    your_dataset = re.sub('http\S+\s*', ' ', your_dataset) #remove http urls
    your_dataset = re.sub('https\S+\s*', ' ', your_dataset) #remove https urls
    your_dataset = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', your_dataset) #remove punctuations
    your_dataset = re.sub(r'[^\x00-\x7f]',r' ', your_dataset) #non ASCII characters
    your_dataset = re.sub('\s+', ' ', your_dataset)
    return your_dataset

resume_dataset['Cleaned_resume'] = resume_dataset.Resume.apply(lambda x: cleaning_resume_dataset(x))
resume_dataset

,Category,Resume,Cleaned_resume
551,Python Developer,Technical Skills / Responsibilities: â¢ Hands...,Technical Skills Responsibilities Hands on Exp...
552,Python Developer,Education Details \r\nJune 2013 to June 2016 D...,Education Details June 2013 to June 2016 Diplo...
553,Python Developer,TECHNICAL PROFICIENCIES Platform: Ubuntu/Fedor...,TECHNICAL PROFICIENCIES Platform Ubuntu Fedora...
554,Python Developer,Technical Skills: Languages Python Python Fram...,Technical Skills Languages Python Python Frame...
555,Python Developer,Training attended: 1. Successfully completed E...,Training attended 1 Su essfully completed ESD ...
...,...,...,...
649,DevOps Engineer,Software Proficiency: â¢ Languages: Basics of...,Software Proficiency Languages Basics of C SQL...
650,DevOps Engineer,CORE COMPETENCIES ~ Ant ~ Maven ~ GIT ~ Bitbuc...,CORE COMPETENCIES Ant Maven GIT Bitbucket Jenk...
651,DevOps Engineer,Skills VISA B1-VISA (USA) Onsite Visits to Swe...,Skills VISA B1 VISA USA Onsite Visits to Swede...
652,DevOps Engineer,Software Proficiency: â¢ Languages: Basics of...,Software Proficiency Languages Basics of C SQL...
653,DevOps Engineer,CORE COMPETENCIES ~ Ant ~ Maven ~ GIT ~ Bitbuc...,CORE COMPETENCIES Ant Maven GIT Bitbucket Jenk...

In [85]:
jobs_dataset = pd.read_csv("DevOps.csv")
jobs_dataset

,Job Title,Job Link,Job ID,Company Name,Location,Job Posting,Salary,Job Description
0,DevOps Engineer (Several Positions),https://malaysia.indeed.com/rc/clk?jk=348eb81c...,job_348eb81c678cc10f,Mercedes-Benz Malaysia Sdn. Bhd.,Kuala Lumpur,Posted\nJust posted,NaN,Job category:\nIT / Telekommunikation\nDepartm...
1,Software Developer-JAVA( 6 months Contract),https://malaysia.indeed.com/company/OPTIMUM-IN...,job_1b8e68905920f615,Optimum Infosolutions (M) Sdn Bhd,Kuala Lumpur,Posted\nJust posted,"RM 2,951 - RM 10,198 a month",Job Title: Software Developer-Java\nJob Locati...
2,APU - Internship -Software Development,https://malaysia.indeed.com/rc/clk?jk=09eb3d68...,job_09eb3d6809251a72,Mercedes-Benz Malaysia Sdn. Bhd.,Kuala Lumpur,Posted\nJust posted,NaN,Job category:\nIT / Telekommunikation\nDepartm...
3,Full Stack Developer (Several Positions),https://malaysia.indeed.com/rc/clk?jk=373b5cef...,job_373b5cef2272ed25,Mercedes-Benz Malaysia Sdn. Bhd.,Kuala Lumpur,Posted\nJust posted,NaN,Job category:\nIT / Telekommunikation\nDepartm...
4,APU - Full Stack Developer - For Fresh Graduates,https://malaysia.indeed.com/rc/clk?jk=353145bc...,job_353145bc4bb1c68f,Mercedes-Benz Malaysia Sdn. Bhd.,Kuala Lumpur,Posted\nJust posted,NaN,Job category:\nIT / Telekommunikation\nDepartm...
...,...,...,...,...,...,...,...,...
96,Risk Manager - Public Cloud,https://malaysia.indeed.com/rc/clk?jk=4cb102c7...,job_4cb102c75f937f89,Standard Chartered,Kuala Lumpur,Posted\nPosted 13 days ago,NaN,Job : Technology\nPrimary Location : Asia-Mala...
97,Mobile App Developer - Retail Banking(Swift),https://malaysia.indeed.com/company/amIT-Globa...,job_c71f620997bd5a21,amIT Global Solutions Pvt Ltd,Kuala Lumpur,Employer\nActive 13 days ago,"RM 5,000 - RM 7,000 a month",Should have min 3 to 5 years of experience\nMa...
98,Developer,https://malaysia.indeed.com/rc/clk?jk=53ccc207...,job_53ccc207436003f5,UOB Innovation Hub 2 Sdn. Bhd.,Kuala Lumpur,Posted\nPosted 14 days ago,NaN,About UOB\nUnited Overseas Bank Limited (UOB) ...
99,Supply Chain Planning -Technical Development (...,https://malaysia.indeed.com/rc/clk?jk=3ae13ecc...,job_3ae13ecc87dd7bda,Michael Page,Remote in Kuala Lumpur,Posted\nPosted 14 days ago,"RM 120,000 - RM 156,000 a year",Attractive Increment and bonus package\nHybrid...
100,Technical Lead,https://malaysia.indeed.com/company/EZYHAUL-SD...,job_6ef86785077d71a8,EZYHAUL SDN BHD,Bangsar South,Employer\nActive 9 days ago,"RM 12,000 - RM 18,000 a month",We are looking for a Technical Lead to design ...

In [86]:
jobs_dataset = jobs_dataset.drop(columns=['Job Link', 'Location', 'Salary'])
jobs_dataset

,Job Title,Job ID,Company Name,Job Posting,Job Description
0,DevOps Engineer (Several Positions),job_348eb81c678cc10f,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...
1,Software Developer-JAVA( 6 months Contract),job_1b8e68905920f615,Optimum Infosolutions (M) Sdn Bhd,Posted\nJust posted,Job Title: Software Developer-Java\nJob Locati...
2,APU - Internship -Software Development,job_09eb3d6809251a72,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...
3,Full Stack Developer (Several Positions),job_373b5cef2272ed25,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...
4,APU - Full Stack Developer - For Fresh Graduates,job_353145bc4bb1c68f,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...
...,...,...,...,...,...
96,Risk Manager - Public Cloud,job_4cb102c75f937f89,Standard Chartered,Posted\nPosted 13 days ago,Job : Technology\nPrimary Location : Asia-Mala...
97,Mobile App Developer - Retail Banking(Swift),job_c71f620997bd5a21,amIT Global Solutions Pvt Ltd,Employer\nActive 13 days ago,Should have min 3 to 5 years of experience\nMa...
98,Developer,job_53ccc207436003f5,UOB Innovation Hub 2 Sdn. Bhd.,Posted\nPosted 14 days ago,About UOB\nUnited Overseas Bank Limited (UOB) ...
99,Supply Chain Planning -Technical Development (...,job_3ae13ecc87dd7bda,Michael Page,Posted\nPosted 14 days ago,Attractive Increment and bonus package\nHybrid...
100,Technical Lead,job_6ef86785077d71a8,EZYHAUL SDN BHD,Employer\nActive 9 days ago,We are looking for a Technical Lead to design ...

In [87]:
random_selections = np.random.choice(jobs_dataset.index, size =1, replace=False)
jobs_dataset = jobs_dataset.drop(random_selections)
jobs_dataset

,Job Title,Job ID,Company Name,Job Posting,Job Description
0,DevOps Engineer (Several Positions),job_348eb81c678cc10f,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...
1,Software Developer-JAVA( 6 months Contract),job_1b8e68905920f615,Optimum Infosolutions (M) Sdn Bhd,Posted\nJust posted,Job Title: Software Developer-Java\nJob Locati...
2,APU - Internship -Software Development,job_09eb3d6809251a72,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...
3,Full Stack Developer (Several Positions),job_373b5cef2272ed25,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...
4,APU - Full Stack Developer - For Fresh Graduates,job_353145bc4bb1c68f,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...
...,...,...,...,...,...
95,Senior Software Developer (iOS Swift),job_cd04c494c8e354f9,Luxoft,Posted\nPosted 8 days ago,Project Description\nOur Client a leading bank...
97,Mobile App Developer - Retail Banking(Swift),job_c71f620997bd5a21,amIT Global Solutions Pvt Ltd,Employer\nActive 13 days ago,Should have min 3 to 5 years of experience\nMa...
98,Developer,job_53ccc207436003f5,UOB Innovation Hub 2 Sdn. Bhd.,Posted\nPosted 14 days ago,About UOB\nUnited Overseas Bank Limited (UOB) ...
99,Supply Chain Planning -Technical Development (...,job_3ae13ecc87dd7bda,Michael Page,Posted\nPosted 14 days ago,Attractive Increment and bonus package\nHybrid...
100,Technical Lead,job_6ef86785077d71a8,EZYHAUL SDN BHD,Employer\nActive 9 days ago,We are looking for a Technical Lead to design ...

In [88]:
jobs_dataset['Cleaned_JDesc'] = ' '
jobs_dataset

,Job Title,Job ID,Company Name,Job Posting,Job Description,Cleaned_JDesc
0,DevOps Engineer (Several Positions),job_348eb81c678cc10f,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,
1,Software Developer-JAVA( 6 months Contract),job_1b8e68905920f615,Optimum Infosolutions (M) Sdn Bhd,Posted\nJust posted,Job Title: Software Developer-Java\nJob Locati...,
2,APU - Internship -Software Development,job_09eb3d6809251a72,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,
3,Full Stack Developer (Several Positions),job_373b5cef2272ed25,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,
4,APU - Full Stack Developer - For Fresh Graduates,job_353145bc4bb1c68f,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,
...,...,...,...,...,...,...
95,Senior Software Developer (iOS Swift),job_cd04c494c8e354f9,Luxoft,Posted\nPosted 8 days ago,Project Description\nOur Client a leading bank...,
97,Mobile App Developer - Retail Banking(Swift),job_c71f620997bd5a21,amIT Global Solutions Pvt Ltd,Employer\nActive 13 days ago,Should have min 3 to 5 years of experience\nMa...,
98,Developer,job_53ccc207436003f5,UOB Innovation Hub 2 Sdn. Bhd.,Posted\nPosted 14 days ago,About UOB\nUnited Overseas Bank Limited (UOB) ...,
99,Supply Chain Planning -Technical Development (...,job_3ae13ecc87dd7bda,Michael Page,Posted\nPosted 14 days ago,Attractive Increment and bonus package\nHybrid...,
100,Technical Lead,job_6ef86785077d71a8,EZYHAUL SDN BHD,Employer\nActive 9 days ago,We are looking for a Technical Lead to design ...,

In [89]:
print(len(jobs_dataset.columns))

6

In [90]:
jobs_rename_col = ['Job_title', 'Job_ID', 'Company_name', 'Job_posting', 'Job_description', 'Cleaned_jdesc']
jobs_dataset.columns = jobs_rename_col
jobs_dataset

,Job_title,Job_ID,Company_name,Job_posting,Job_description,Cleaned_jdesc
0,DevOps Engineer (Several Positions),job_348eb81c678cc10f,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,
1,Software Developer-JAVA( 6 months Contract),job_1b8e68905920f615,Optimum Infosolutions (M) Sdn Bhd,Posted\nJust posted,Job Title: Software Developer-Java\nJob Locati...,
2,APU - Internship -Software Development,job_09eb3d6809251a72,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,
3,Full Stack Developer (Several Positions),job_373b5cef2272ed25,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,
4,APU - Full Stack Developer - For Fresh Graduates,job_353145bc4bb1c68f,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,
...,...,...,...,...,...,...
95,Senior Software Developer (iOS Swift),job_cd04c494c8e354f9,Luxoft,Posted\nPosted 8 days ago,Project Description\nOur Client a leading bank...,
97,Mobile App Developer - Retail Banking(Swift),job_c71f620997bd5a21,amIT Global Solutions Pvt Ltd,Employer\nActive 13 days ago,Should have min 3 to 5 years of experience\nMa...,
98,Developer,job_53ccc207436003f5,UOB Innovation Hub 2 Sdn. Bhd.,Posted\nPosted 14 days ago,About UOB\nUnited Overseas Bank Limited (UOB) ...,
99,Supply Chain Planning -Technical Development (...,job_3ae13ecc87dd7bda,Michael Page,Posted\nPosted 14 days ago,Attractive Increment and bonus package\nHybrid...,
100,Technical Lead,job_6ef86785077d71a8,EZYHAUL SDN BHD,Employer\nActive 9 days ago,We are looking for a Technical Lead to design ...,

In [91]:
jobs_dataset['Cleaned_jdesc'] = jobs_dataset.Job_description.apply(lambda x: cleaning_resume_dataset(x))
jobs_dataset

,Job_title,Job_ID,Company_name,Job_posting,Job_description,Cleaned_jdesc
0,DevOps Engineer (Several Positions),job_348eb81c678cc10f,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,Job category IT Telekommunikation Department H...
1,Software Developer-JAVA( 6 months Contract),job_1b8e68905920f615,Optimum Infosolutions (M) Sdn Bhd,Posted\nJust posted,Job Title: Software Developer-Java\nJob Locati...,Job Title Software Developer Java Job Location...
2,APU - Internship -Software Development,job_09eb3d6809251a72,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,Job category IT Telekommunikation Department H...
3,Full Stack Developer (Several Positions),job_373b5cef2272ed25,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,Job category IT Telekommunikation Department H...
4,APU - Full Stack Developer - For Fresh Graduates,job_353145bc4bb1c68f,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,Job category IT Telekommunikation Department H...
...,...,...,...,...,...,...
95,Senior Software Developer (iOS Swift),job_cd04c494c8e354f9,Luxoft,Posted\nPosted 8 days ago,Project Description\nOur Client a leading bank...,Project Description Our Client a leading bank ...
97,Mobile App Developer - Retail Banking(Swift),job_c71f620997bd5a21,amIT Global Solutions Pvt Ltd,Employer\nActive 13 days ago,Should have min 3 to 5 years of experience\nMa...,Should have min 3 to 5 years of experience Man...
98,Developer,job_53ccc207436003f5,UOB Innovation Hub 2 Sdn. Bhd.,Posted\nPosted 14 days ago,About UOB\nUnited Overseas Bank Limited (UOB) ...,About UOB United Overseas Bank Limited UOB is ...
99,Supply Chain Planning -Technical Development (...,job_3ae13ecc87dd7bda,Michael Page,Posted\nPosted 14 days ago,Attractive Increment and bonus package\nHybrid...,Attractive Increment and bonus package Hybrid ...
100,Technical Lead,job_6ef86785077d71a8,EZYHAUL SDN BHD,Employer\nActive 9 days ago,We are looking for a Technical Lead to design ...,We are looking for a Technical Lead to design ...

In [92]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [93]:
nltk.download('punkt')
nltk.download('stopwords')

#these are all for the tokenization process, which is essentially the process of breaking down larger sentences into smaller chunks

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [104]:
def preprocess_text(text):
    text = text.lower()
    text = ''.join([char for char in text if char.isalpha() or char.isspace()])
    words = word_tokenize(text)
    words = [word for word in words if word not in set(stopwords.words('english'))]
    lemmatized_words = [token.lemma_ for token in nlp(' '.join(words))]
    text = ' '.join(lemmatized_words)
    return text

resume_dataset['Cleaned_resume'] = resume_dataset.Cleaned_resume.apply(lambda x: preprocess_text(x))
jobs_dataset['Cleaned_jdesc'] = jobs_dataset.Cleaned_jdesc.apply(lambda x: preprocess_text(x))

In [ ]:
resume_dataset

,Category,Resume,Cleaned_resume
551,Python Developer,Technical Skills / Responsibilities: â¢ Hands...,technical skill responsibilitie hand experienc...
552,Python Developer,Education Details \r\nJune 2013 to June 2016 D...,education detail june june diploma computer sc...
553,Python Developer,TECHNICAL PROFICIENCIES Platform: Ubuntu/Fedor...,technical proficiency platform ubuntu fedora c...
554,Python Developer,Technical Skills: Languages Python Python Fram...,technical skill language python python framewo...
555,Python Developer,Training attended: 1. Successfully completed E...,training attend su essfully complete esd progr...
...,...,...,...
649,DevOps Engineer,Software Proficiency: â¢ Languages: Basics of...,software proficiency language basics c sql pl ...
650,DevOps Engineer,CORE COMPETENCIES ~ Ant ~ Maven ~ GIT ~ Bitbuc...,core competency ant maven git bitbucket jenkin...
651,DevOps Engineer,Skills VISA B1-VISA (USA) Onsite Visits to Swe...,skill visa b visa usa onsite visit sweden us s...
652,DevOps Engineer,Software Proficiency: â¢ Languages: Basics of...,software proficiency language basics c sql pl ...
653,DevOps Engineer,CORE COMPETENCIES ~ Ant ~ Maven ~ GIT ~ Bitbuc...,core competency ant maven git bitbucket jenkin...

In [ ]:
jobs_dataset

,Job_title,Job_ID,Company_name,Job_posting,Job_description,Cleaned_jdesc
0,DevOps Engineer (Several Positions),job_348eb81c678cc10f,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,job category telekommunikation department hr b...
1,Software Developer-JAVA( 6 months Contract),job_1b8e68905920f615,Optimum Infosolutions (M) Sdn Bhd,Posted\nJust posted,Job Title: Software Developer-Java\nJob Locati...,job title software developer java job location...
2,APU - Internship -Software Development,job_09eb3d6809251a72,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,job category telekommunikation department hr b...
3,Full Stack Developer (Several Positions),job_373b5cef2272ed25,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,job category telekommunikation department hr b...
4,APU - Full Stack Developer - For Fresh Graduates,job_353145bc4bb1c68f,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,job category telekommunikation department hr b...
...,...,...,...,...,...,...
96,Risk Manager - Public Cloud,job_4cb102c75f937f89,Standard Chartered,Posted\nPosted 13 days ago,Job : Technology\nPrimary Location : Asia-Mala...,job technology primary location asia malaysia ...
97,Mobile App Developer - Retail Banking(Swift),job_c71f620997bd5a21,amIT Global Solutions Pvt Ltd,Employer\nActive 13 days ago,Should have min 3 to 5 years of experience\nMa...,min year experience mandatory swift good fastl...
98,Developer,job_53ccc207436003f5,UOB Innovation Hub 2 Sdn. Bhd.,Posted\nPosted 14 days ago,About UOB\nUnited Overseas Bank Limited (UOB) ...,uob united overseas bank limit uob lead bank a...
99,Supply Chain Planning -Technical Development (...,job_3ae13ecc87dd7bda,Michael Page,Posted\nPosted 14 days ago,Attractive Increment and bonus package\nHybrid...,attractive increment bonus package hybrid work...
100,Technical Lead,job_6ef86785077d71a8,EZYHAUL SDN BHD,Employer\nActive 9 days ago,We are looking for a Technical Lead to design ...,look technical lead design structure system ma...

In [ ]:
resume_embeddings = [nlp(text).vector for text in resume_dataset['Cleaned_resume']]
jobs_embeddings = [nlp(text).vector for text in jobs_dataset['Cleaned_jdesc']]

X_train, X_test, y_train, y_test = train_test_split(resume_embeddings, range(len(jobs_embeddings)), test_size=0.3, random_state=42)
# Split the data into training and testing sets (70/30 ratio)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity_scores = cosine_similarity(X_train, jobs_embeddings)

In [ ]:
best_matches = []
for i in range(len(similarity_scores)):
    best_match_index = similarity_scores[i].argmax()
    best_match_score = similarity_scores[i][best_match_index]
    best_matches.append((i, best_match_index, best_match_score))

#Finding the best match for the resume in the training set

In [ ]:
results_dataframe = pd.DataFrame(best_matches, columns=['Resume_index', 'Jobs_index', 'Match_score'])
#Creating a dataframe to store the results

In [ ]:
print("Training Set Results: ")
results_dataframe

Training Set Results:

    Resume_index  Jobs_index  Match_score
0              0          29     0.953619
1              1          74     0.976155
2              2          68     0.979619
3              3           2     0.950150
4              4          68     0.979619
..           ...         ...          ...
65            65          74     0.976155
66            66          68     0.979619
67            67          29     0.874076
68            68          29     0.923569
69            69          68     0.985386

[70 rows x 3 columns]

In [ ]:
test_similarity_scores = cosine_similarity(X_test, jobs_embeddings)

In [ ]:
test_best_matches = []
for i in range(len(test_similarity_scores)):
    best_match_index = test_similarity_scores[i].argmax()
    best_match_score = test_similarity_scores[i][best_match_index]
    test_best_matches.append((i, best_match_index, best_match_score))

In [ ]:
test_results_dataframe = pd.DataFrame(test_best_matches, columns=['Resume_index', 'Jobs_index', 'Match_score'])

In [ ]:
print("Test Data Results: ")
test_results_dataframe

Test Data Results:

    Resume_index  Jobs_index  Match_score
0              0          71     0.976155
1              1          68     0.980110
2              2          29     0.923569
3              3           2     0.950150
4              4          71     0.963275
5              5          71     0.963275
6              6           2     0.950150
7              7          71     0.976155
8              8           2     0.950150
9              9          45     0.967298
10            10          45     0.967298
11            11          45     0.967298
12            12          29     0.923569
13            13          71     0.963275
14            14          68     0.979619
15            15           2     0.950150
16            16          29     0.923569
17            17          68     0.979619
18            18          45     0.967298
19            19          59     0.904440
20            20          29     0.923569
21            21          71     0.976155
22            22          29     0.874076
23            23          45     0.967298
24            24          71     0.976155
25            25          71     0.963275
26            26           2     0.950150
27            27          68     0.979619
28            28          71     0.963275
29            29          71     0.976155

In [98]:
import fitz #you have to pip install PyMuPDF for this, fitz is a PyMuPDF library

In [102]:
def pdf_to_text(pdf_path):
    try:
        with fitz.open(pdf_path) as pdf_document:
            text =""
            for page_number in range(pdf_document.page_count):
                page= pdf_document[page_number]
                text += page.get_text()
        return text
    except Exception as e:
        print(f"Error: {e}")
        return None

In [143]:
pdf_path = "C:\\Users\\Asus\\Downloads\\Resume 1.pdf"
resume_extracted = pdf_to_text(pdf_path)

if (resume_extracted):
    print("Text extracted from pdf: \n")
    print(resume_extracted)
else:
    print("There was an error in extracting text from the pdf file.")

Text extracted from pdf:

E D U C A T I O N
DIPLOMA IN ICT WITH SPECIALISM IN SOFTWARE ENGINEERING
Field of Study
Major
Institute
Grade / CGPA
Graduation Date
:
:
:
:
:
Information and Communication Technology
Software Engineering
Asia Pacific University
3.96
September 2023
INTERNATIONAL GENERAL CERTIFICATE OF SECONDARY EDUCATION
Field of Study
Stream
Institute
Grade / CGPA
Graduation Date
:
:
:
:
:
IGCSE
Science Stream
British Circle Academy
7A*, 1A
October 2020
GAN MING LIANG
+60 18-207 1189
Puchong, SGR, MY
study.daltongan@gmail.com
www.linkedin.com/in/dalton-gml/
A highly creative and versatile programmer with a passion for
learning and growth. With a proven track record of developing
full-stack softwares that turn innovative ideas into a reality.
P R O F I L E
D A L T O N
T E C H N I C A L  S K I L L S
Front-End | HTML5, JavaScript (ES6), CSS3, Angular
www.github.com/Dalton-G
Back-End | Python, PHP, Java, Node.js, Express.js, MongoDB, MySQL, PL/SQL, R
Developer Tools | Git, npm, Scrum, Linux, PHPLens, WordPress, Figma
Project Tools | Office365, Notion, Clickup, Jira, Google Calendar
Languages | English, Mandarin, Bahasa Melayu, Cantonese
STUDENT MARSHAL (PART-TIME)
APU STUDENT AFFAIRS
Jul 2022 - July 2023
Student Affairs Website Maintenance
Social Media & Certificates Management
Internal & External Event Organization
SAKTHYVELL A/L
SUPERAMANIAM
Direct Reporting Manager
FRESH HUB
WEB DEVELOPMENT | GPA: 4.0 (A+)
Jul 2022 - Oct 2022
PHP
HTML
CSS
JS
MYSQL
APACHE
PHPMYADMIN
GUI
E-Commerce Grocery Store
DANIEL MAGO
Lecturer
daniel.mago@apiit.edu.my
+ RESOURCES
Documentation
Code
P A R T - T I M E  W O R K  &  I N T E R N S H I P
A C A D E M I C  P R O J E C T S
sakthyvell@juristech.net
adaptibility
SOFT SKILLS
teamwork
flexibility
empathy
HASHANNA HALIM
Assistant Manager
hashanna.halim@apu.edu.my
leadership
SOFT SKILLS
communication
creativity
interpersonal skills
SOFTWARE ENGINEER (INTERN)
JURIS TECHNOLOGIES SDN BHD
May 2023 - August 2023
Developer for JAccess 2.0, a customer on-
boarding system for Banks & Financial Institution
Developed Payment Gateway using UPay API
SIT, UAT and Pred-Prod testing and debugging
DASH
JAVA PROGRAMMING | GPA: 4.0 (A+)
Dec 2022 - March 2023
JAVA
OBJECT-ORIENTED PROGRAMMING
GUI
Clinic Appointment System
TAN LI JUNE
Lecturer
tan.lijune@apu.edu.my
+ RESOURCES
Documentation
Code
ARRAYLIST
ITERATOR
AEGIS
PROGRAMMING WITH PYTHON | GPA: 4.0 (A+)
Feb 2022 - May 2022
PYTHON
TXT FILE DATABASES
CLI
Event Management System
AMARDEEP SINGH
Lecturer
amardeep@apu.edu.my
+ RESOURCES
Documentation
Code

In [144]:
resume_extracted = cleaning_resume_dataset(resume_extracted)
resume_extracted

'E D U C A T I O N DIPLOMA IN ICT WITH SPECIALISM IN SOFTWARE ENGINEERING Field of Study Major Institute Grade CGPA Graduation Date Information and Communication Technology Software Engineering Asia Pacific University 3 96 September 2023 INTERNATIONAL GENERAL CE IFICATE OF SECONDARY EDUCATION Field of Study Stream Institute Grade CGPA Graduation Date IGCSE Science Stream British Circle Academy 7A 1A October 2020 GAN MING LIANG 60 18 207 1189 Puchong SGR MY study daltongan www linkedin com in dalton gml A highly creative and versatile programmer with a passion for learning and growth With a proven track record of developing full stack softwares that turn innovative ideas into a reality P R O F I L E D A L T O N T E C H N I C A L S K I L L S Front End HTML5 JavaScript ES6 CSS3 Angular www github com Dalton G Back End Python PHP Java Node js Express js MongoDB MySQL PL SQL R Developer Tools Git npm Scrum Linux PHPLens WordPress Figma Project Tools Office365 Notion Clickup Jira Google Calendar Languages English Mandarin Bahasa Melayu Cantonese STUDENT MARSHAL PA TIME APU STUDENT AFFAIRS Jul 2022 July 2023 Student Affairs Website Maintenance Social Media Certificates Management Internal External Event Organization SAKTHYVELL A L SUPERAMANIAM Direct Reporting Manager FRESH HUB WEB DEVELOPMENT GPA 4 0 A Jul 2022 Oct 2022 PHP HTML CSS JS MYSQL APACHE PHPMYADMIN GUI E Commerce Grocery Store DANIEL MAGO Lecturer daniel mago RESOURCES Documentation Code P A R T T I M E W O R K I N T E R N S H I P A C A D E M I C P R O J E C T S sakthyvell adaptibility SOFT SKILLS teamwork flexibility empathy HASHANNA HALIM Assistant Manager hashanna halim leadership SOFT SKILLS communication creativity interpersonal skills SOFTWARE ENGINEER INTERN JURIS TECHNOLOGIES SDN BHD May 2023 August 2023 Developer for JA ess 2 0 a customer on boarding system for Banks Financial Institution Developed Payment Gateway using UPay API SIT UAT and Pred Prod testing and debugging DASH JAVA PROGRAMMING GPA 4 0 A Dec 2022 March 2023 JAVA OBJECT ORIENTED PROGRAMMING GUI Clinic Appointment System TAN LI JUNE Lecturer tan lijune RESOURCES Documentation Code ARRAYLIST ITERATOR AEGIS PROGRAMMING WITH PYTHON GPA 4 0 A Feb 2022 May 2022 PYTHON TXT FILE DATABASES CLI Event Management System AMARDEEP SINGH Lecturer amardeep RESOURCES Documentation Code '

In [145]:
resume_extracted = preprocess_text(resume_extracted)
resume_extracted

'e u c n diploma ict specialism software engineering field study major institute grade cgpa graduation date information communication technology software engineering asia pacific university september international general ce ificate secondary education field study stream institute grade cgpa graduation date igcse science stream british circle academy october gan ming liang puchong sgr study daltongan www linkedin com dalton gml highly creative versatile programmer passion learn growth prove track record develop full stack software turn innovative idea reality p r f l e l n e c h n c l k l l front end html javascript es css angular www github com dalton g back end python php java node js express js mongodb mysql pl sql r developer tool git npm scrum linux phplen wordpress figma project tool office notion clickup jira google calendar language english mandarin bahasa melayu cantonese student marshal pa time apu student affair jul july student affair website maintenance social medium certificate management internal external event organization sakthyvell l superamaniam direct reporting manager fresh hub web development gpa jul oct php html css js mysql apache phpmyadmin gui e commerce grocery store daniel mago lecturer daniel mago resources documentation code p r e w r k n e r n h p c e c p r j e c sakthyvell adaptibility soft skill teamwork flexibility empathy hashanna halim assistant manager hashanna halim leadership soft skill communication creativity interpersonal skill software engineer intern juris technology sdn bhd may august developer ja ess customer boarding system bank financial institution develop payment gateway use upay api sit uat pre prod test debug dash java programming gpa dec march java object orient programming gui clinic appointment system tan li june lecturer tan lijune resources documentation code arraylist iterator aegis programming python gpa feb may python txt file database cli event management system amardeep singh lecturer amardeep resources documentation code'

In [147]:
input_resume_embeddings =  nlp(resume_extracted).vector

In [148]:
cosine_similarities = cosine_similarity([input_resume_embeddings], jobs_embeddings)

In [149]:
top_3_indices = cosine_similarities.argsort()[0][::-1][:3]

In [151]:
top_3_matches = []
for index in top_3_indices:
    job_id = jobs_dataset.at[index, 'Job_ID']
    company_name = jobs_dataset.at[index, 'Company_name']
    match_score = cosine_similarities[0][index]
    job_title = jobs_dataset.at[index, 'Job_title']
    top_3_matches.append([job_id, company_name, job_title, match_score])

# Print or return the top 3 matches
top_3_matches_df = pd.DataFrame(top_3_matches, columns=['Job_ID', 'Company_name', 'Job_title', 'Match_score'])
print("Top 3 Job Matches:")
print(top_3_matches_df)

Top 3 Job Matches:
                 Job_ID                     Company_name  \
0   sj_8837c4858ef59140             Tek Infotree Sdn Bhd
1  job_4d1f242d1d6c7131  Abhidi Solution Private Limited
2  job_aaa0ebf9f9d206bd                      LFX Digital

                      Job_title  Match_score
0      Data Automation Engineer     0.874569
1  Senior Application Developer     0.873406
2              DevOps Team Lead     0.861042