In [47]:
import pandas as pd
import spacy
from sklearn.model_selection import train_test_split

In [48]:
nlp = spacy.load('en_core_web_md')
#using the english version of spacy

In [49]:
resume_dataset = pd.read_csv('UpdatedResumeDataSet.csv')
#make sure the csv is in the same file before u read it lol

In [50]:
resume_dataset
#checking

         Category                                             Resume
0    Data Science  Skills * Programming Languages: Python (pandas...
1    Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2    Data Science  Areas of Interest Deep Learning, Control Syste...
3    Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4    Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...
..            ...                                                ...
957       Testing  Computer Skills: â¢ Proficient in MS office (...
958       Testing  â Willingness to accept the challenges. â ...
959       Testing  PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...
960       Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
961       Testing  Skill Set OS Windows XP/7/8/8.1/10 Database MY...

[962 rows x 2 columns]

In [51]:
resume_dataset['Cleaned_resume'] = ' '
#inserting new column

In [52]:
resume_dataset.head()

,Category,Resume,Cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",

In [53]:
print("This is the number of unique categories in this dataset: \n")
print(resume_dataset['Category'].unique())
#We only want a few of these so we know which ones we want to keep and which ones to drop.
#Since Dalton has a pretty sizeable dataset for DevOps (100+) we're gonna drop the rest

This is the number of unique categories in this dataset:

['Data Science' 'HR' 'Advocate' 'Arts' 'Web Designing'
 'Mechanical Engineer' 'Sales' 'Health and fitness' 'Civil Engineer'
 'Java Developer' 'Business Analyst' 'SAP Developer' 'Automation Testing'
 'Electrical Engineering' 'Operations Manager' 'Python Developer'
 'DevOps Engineer' 'Network Security Engineer' 'PMO' 'Database' 'Hadoop'
 'ETL Developer' 'DotNet Developer' 'Blockchain' 'Testing']

In [54]:
print("This is the number of unique entries in each category of this dataset: \n")
print(resume_dataset['Category'].value_counts())

#gg we only have 55 devops engineer. the datasets need to have a similar amount of entries so we're gonna be combining and then dropping until an exact number remains
#let's combine HR and DevOps Engineer

This is the number of unique entries in each category of this dataset:

Category
Java Developer               84
Testing                      70
DevOps Engineer              55
Python Developer             48
Web Designing                45
HR                           44
Hadoop                       42
Blockchain                   40
ETL Developer                40
Operations Manager           40
Data Science                 40
Sales                        40
Mechanical Engineer          40
Arts                         36
Database                     33
Electrical Engineering       30
Health and fitness           30
PMO                          30
Business Analyst             28
DotNet Developer             28
Automation Testing           26
Network Security Engineer    25
SAP Developer                24
Civil Engineer               24
Advocate                     20
Name: count, dtype: int64

In [55]:
categories_to_keep = ['Python Developer', 'DevOps Engineer']
resume_dataset = resume_dataset[resume_dataset['Category'].isin(categories_to_keep)]
resume_dataset

#update ur resume dataset accordingly

,Category,Resume,Cleaned_resume
551,Python Developer,Technical Skills / Responsibilities: â¢ Hands...,
552,Python Developer,Education Details \r\nJune 2013 to June 2016 D...,
553,Python Developer,TECHNICAL PROFICIENCIES Platform: Ubuntu/Fedor...,
554,Python Developer,Technical Skills: Languages Python Python Fram...,
555,Python Developer,Training attended: 1. Successfully completed E...,
...,...,...,...
649,DevOps Engineer,Software Proficiency: â¢ Languages: Basics of...,
650,DevOps Engineer,CORE COMPETENCIES ~ Ant ~ Maven ~ GIT ~ Bitbuc...,
651,DevOps Engineer,Skills VISA B1-VISA (USA) Onsite Visits to Swe...,
652,DevOps Engineer,Software Proficiency: â¢ Languages: Basics of...,
653,DevOps Engineer,CORE COMPETENCIES ~ Ant ~ Maven ~ GIT ~ Bitbuc...,

In [56]:
import numpy as np

In [57]:
random_selections = np.random.choice(resume_dataset.index, size=3, replace=False)
resume_dataset = resume_dataset.drop(random_selections)
resume_dataset
#size = 3 == select 3, replace = False == each index can only be selected once

,Category,Resume,Cleaned_resume
551,Python Developer,Technical Skills / Responsibilities: â¢ Hands...,
552,Python Developer,Education Details \r\nJune 2013 to June 2016 D...,
553,Python Developer,TECHNICAL PROFICIENCIES Platform: Ubuntu/Fedor...,
554,Python Developer,Technical Skills: Languages Python Python Fram...,
555,Python Developer,Training attended: 1. Successfully completed E...,
...,...,...,...
649,DevOps Engineer,Software Proficiency: â¢ Languages: Basics of...,
650,DevOps Engineer,CORE COMPETENCIES ~ Ant ~ Maven ~ GIT ~ Bitbuc...,
651,DevOps Engineer,Skills VISA B1-VISA (USA) Onsite Visits to Swe...,
652,DevOps Engineer,Software Proficiency: â¢ Languages: Basics of...,
653,DevOps Engineer,CORE COMPETENCIES ~ Ant ~ Maven ~ GIT ~ Bitbuc...,

In [58]:
import re
#manipulation of regular expressions

In [59]:
def cleaning_resume_dataset(your_dataset):
    your_dataset = re.sub('RT|cc', ' ', your_dataset) #remove RT and CC
    your_dataset = re.sub('#\S+', ' ', your_dataset)
    your_dataset = re.sub('@\S+', ' ', your_dataset)
    your_dataset = re.sub('http\S+\s*', ' ', your_dataset) #remove http urls
    your_dataset = re.sub('https\S+\s*', ' ', your_dataset) #remove https urls
    your_dataset = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', your_dataset) #remove punctuations
    your_dataset = re.sub(r'[^\x00-\x7f]',r' ', your_dataset) #non ASCII characters
    your_dataset = re.sub('\s+', ' ', your_dataset)
    return your_dataset

resume_dataset['Cleaned_resume'] = resume_dataset.Resume.apply(lambda x: cleaning_resume_dataset(x))
resume_dataset

,Category,Resume,Cleaned_resume
551,Python Developer,Technical Skills / Responsibilities: â¢ Hands...,Technical Skills Responsibilities Hands on Exp...
552,Python Developer,Education Details \r\nJune 2013 to June 2016 D...,Education Details June 2013 to June 2016 Diplo...
553,Python Developer,TECHNICAL PROFICIENCIES Platform: Ubuntu/Fedor...,TECHNICAL PROFICIENCIES Platform Ubuntu Fedora...
554,Python Developer,Technical Skills: Languages Python Python Fram...,Technical Skills Languages Python Python Frame...
555,Python Developer,Training attended: 1. Successfully completed E...,Training attended 1 Su essfully completed ESD ...
...,...,...,...
649,DevOps Engineer,Software Proficiency: â¢ Languages: Basics of...,Software Proficiency Languages Basics of C SQL...
650,DevOps Engineer,CORE COMPETENCIES ~ Ant ~ Maven ~ GIT ~ Bitbuc...,CORE COMPETENCIES Ant Maven GIT Bitbucket Jenk...
651,DevOps Engineer,Skills VISA B1-VISA (USA) Onsite Visits to Swe...,Skills VISA B1 VISA USA Onsite Visits to Swede...
652,DevOps Engineer,Software Proficiency: â¢ Languages: Basics of...,Software Proficiency Languages Basics of C SQL...
653,DevOps Engineer,CORE COMPETENCIES ~ Ant ~ Maven ~ GIT ~ Bitbuc...,CORE COMPETENCIES Ant Maven GIT Bitbucket Jenk...

In [60]:
jobs_dataset = pd.read_csv("..\\web_scraper\\excel\\DevOps.csv")
jobs_dataset

,Job Title,Job Link,Job ID,Company Name,Location,Job Posting,Salary,Job Description
0,DevOps Engineer (Several Positions),https://malaysia.indeed.com/rc/clk?jk=348eb81c...,job_348eb81c678cc10f,Mercedes-Benz Malaysia Sdn. Bhd.,Kuala Lumpur,Posted\nJust posted,NaN,Job category:\nIT / Telekommunikation\nDepartm...
1,Software Developer-JAVA( 6 months Contract),https://malaysia.indeed.com/company/OPTIMUM-IN...,job_1b8e68905920f615,Optimum Infosolutions (M) Sdn Bhd,Kuala Lumpur,Posted\nJust posted,"RM 2,951 - RM 10,198 a month",Job Title: Software Developer-Java\nJob Locati...
2,APU - Internship -Software Development,https://malaysia.indeed.com/rc/clk?jk=09eb3d68...,job_09eb3d6809251a72,Mercedes-Benz Malaysia Sdn. Bhd.,Kuala Lumpur,Posted\nJust posted,NaN,Job category:\nIT / Telekommunikation\nDepartm...
3,Full Stack Developer (Several Positions),https://malaysia.indeed.com/rc/clk?jk=373b5cef...,job_373b5cef2272ed25,Mercedes-Benz Malaysia Sdn. Bhd.,Kuala Lumpur,Posted\nJust posted,NaN,Job category:\nIT / Telekommunikation\nDepartm...
4,APU - Full Stack Developer - For Fresh Graduates,https://malaysia.indeed.com/rc/clk?jk=353145bc...,job_353145bc4bb1c68f,Mercedes-Benz Malaysia Sdn. Bhd.,Kuala Lumpur,Posted\nJust posted,NaN,Job category:\nIT / Telekommunikation\nDepartm...
...,...,...,...,...,...,...,...,...
96,Risk Manager - Public Cloud,https://malaysia.indeed.com/rc/clk?jk=4cb102c7...,job_4cb102c75f937f89,Standard Chartered,Kuala Lumpur,Posted\nPosted 13 days ago,NaN,Job : Technology\nPrimary Location : Asia-Mala...
97,Mobile App Developer - Retail Banking(Swift),https://malaysia.indeed.com/company/amIT-Globa...,job_c71f620997bd5a21,amIT Global Solutions Pvt Ltd,Kuala Lumpur,Employer\nActive 13 days ago,"RM 5,000 - RM 7,000 a month",Should have min 3 to 5 years of experience\nMa...
98,Developer,https://malaysia.indeed.com/rc/clk?jk=53ccc207...,job_53ccc207436003f5,UOB Innovation Hub 2 Sdn. Bhd.,Kuala Lumpur,Posted\nPosted 14 days ago,NaN,About UOB\nUnited Overseas Bank Limited (UOB) ...
99,Supply Chain Planning -Technical Development (...,https://malaysia.indeed.com/rc/clk?jk=3ae13ecc...,job_3ae13ecc87dd7bda,Michael Page,Remote in Kuala Lumpur,Posted\nPosted 14 days ago,"RM 120,000 - RM 156,000 a year",Attractive Increment and bonus package\nHybrid...
100,Technical Lead,https://malaysia.indeed.com/company/EZYHAUL-SD...,job_6ef86785077d71a8,EZYHAUL SDN BHD,Bangsar South,Employer\nActive 9 days ago,"RM 12,000 - RM 18,000 a month",We are looking for a Technical Lead to design ...

In [61]:
jobs_dataset = jobs_dataset.drop(columns=['Job Link', 'Location', 'Salary'])
jobs_dataset

,Job Title,Job ID,Company Name,Job Posting,Job Description
0,DevOps Engineer (Several Positions),job_348eb81c678cc10f,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...
1,Software Developer-JAVA( 6 months Contract),job_1b8e68905920f615,Optimum Infosolutions (M) Sdn Bhd,Posted\nJust posted,Job Title: Software Developer-Java\nJob Locati...
2,APU - Internship -Software Development,job_09eb3d6809251a72,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...
3,Full Stack Developer (Several Positions),job_373b5cef2272ed25,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...
4,APU - Full Stack Developer - For Fresh Graduates,job_353145bc4bb1c68f,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...
...,...,...,...,...,...
96,Risk Manager - Public Cloud,job_4cb102c75f937f89,Standard Chartered,Posted\nPosted 13 days ago,Job : Technology\nPrimary Location : Asia-Mala...
97,Mobile App Developer - Retail Banking(Swift),job_c71f620997bd5a21,amIT Global Solutions Pvt Ltd,Employer\nActive 13 days ago,Should have min 3 to 5 years of experience\nMa...
98,Developer,job_53ccc207436003f5,UOB Innovation Hub 2 Sdn. Bhd.,Posted\nPosted 14 days ago,About UOB\nUnited Overseas Bank Limited (UOB) ...
99,Supply Chain Planning -Technical Development (...,job_3ae13ecc87dd7bda,Michael Page,Posted\nPosted 14 days ago,Attractive Increment and bonus package\nHybrid...
100,Technical Lead,job_6ef86785077d71a8,EZYHAUL SDN BHD,Employer\nActive 9 days ago,We are looking for a Technical Lead to design ...

In [62]:
random_selections = np.random.choice(jobs_dataset.index, size =1, replace=False)
jobs_dataset = jobs_dataset.drop(random_selections)
jobs_dataset

,Job Title,Job ID,Company Name,Job Posting,Job Description
0,DevOps Engineer (Several Positions),job_348eb81c678cc10f,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...
1,Software Developer-JAVA( 6 months Contract),job_1b8e68905920f615,Optimum Infosolutions (M) Sdn Bhd,Posted\nJust posted,Job Title: Software Developer-Java\nJob Locati...
2,APU - Internship -Software Development,job_09eb3d6809251a72,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...
3,Full Stack Developer (Several Positions),job_373b5cef2272ed25,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...
4,APU - Full Stack Developer - For Fresh Graduates,job_353145bc4bb1c68f,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...
...,...,...,...,...,...
96,Risk Manager - Public Cloud,job_4cb102c75f937f89,Standard Chartered,Posted\nPosted 13 days ago,Job : Technology\nPrimary Location : Asia-Mala...
97,Mobile App Developer - Retail Banking(Swift),job_c71f620997bd5a21,amIT Global Solutions Pvt Ltd,Employer\nActive 13 days ago,Should have min 3 to 5 years of experience\nMa...
98,Developer,job_53ccc207436003f5,UOB Innovation Hub 2 Sdn. Bhd.,Posted\nPosted 14 days ago,About UOB\nUnited Overseas Bank Limited (UOB) ...
99,Supply Chain Planning -Technical Development (...,job_3ae13ecc87dd7bda,Michael Page,Posted\nPosted 14 days ago,Attractive Increment and bonus package\nHybrid...
100,Technical Lead,job_6ef86785077d71a8,EZYHAUL SDN BHD,Employer\nActive 9 days ago,We are looking for a Technical Lead to design ...

In [63]:
jobs_dataset['Cleaned_JDesc'] = ' '
jobs_dataset

,Job Title,Job ID,Company Name,Job Posting,Job Description,Cleaned_JDesc
0,DevOps Engineer (Several Positions),job_348eb81c678cc10f,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,
1,Software Developer-JAVA( 6 months Contract),job_1b8e68905920f615,Optimum Infosolutions (M) Sdn Bhd,Posted\nJust posted,Job Title: Software Developer-Java\nJob Locati...,
2,APU - Internship -Software Development,job_09eb3d6809251a72,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,
3,Full Stack Developer (Several Positions),job_373b5cef2272ed25,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,
4,APU - Full Stack Developer - For Fresh Graduates,job_353145bc4bb1c68f,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,
...,...,...,...,...,...,...
96,Risk Manager - Public Cloud,job_4cb102c75f937f89,Standard Chartered,Posted\nPosted 13 days ago,Job : Technology\nPrimary Location : Asia-Mala...,
97,Mobile App Developer - Retail Banking(Swift),job_c71f620997bd5a21,amIT Global Solutions Pvt Ltd,Employer\nActive 13 days ago,Should have min 3 to 5 years of experience\nMa...,
98,Developer,job_53ccc207436003f5,UOB Innovation Hub 2 Sdn. Bhd.,Posted\nPosted 14 days ago,About UOB\nUnited Overseas Bank Limited (UOB) ...,
99,Supply Chain Planning -Technical Development (...,job_3ae13ecc87dd7bda,Michael Page,Posted\nPosted 14 days ago,Attractive Increment and bonus package\nHybrid...,
100,Technical Lead,job_6ef86785077d71a8,EZYHAUL SDN BHD,Employer\nActive 9 days ago,We are looking for a Technical Lead to design ...,

In [64]:
print(len(jobs_dataset.columns))

6

In [65]:
jobs_rename_col = ['Job_title', 'Job_ID', 'Company_name', 'Job_posting', 'Job_description', 'Cleaned_jdesc']
jobs_dataset.columns = jobs_rename_col
jobs_dataset

,Job_title,Job_ID,Company_name,Job_posting,Job_description,Cleaned_jdesc
0,DevOps Engineer (Several Positions),job_348eb81c678cc10f,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,
1,Software Developer-JAVA( 6 months Contract),job_1b8e68905920f615,Optimum Infosolutions (M) Sdn Bhd,Posted\nJust posted,Job Title: Software Developer-Java\nJob Locati...,
2,APU - Internship -Software Development,job_09eb3d6809251a72,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,
3,Full Stack Developer (Several Positions),job_373b5cef2272ed25,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,
4,APU - Full Stack Developer - For Fresh Graduates,job_353145bc4bb1c68f,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,
...,...,...,...,...,...,...
96,Risk Manager - Public Cloud,job_4cb102c75f937f89,Standard Chartered,Posted\nPosted 13 days ago,Job : Technology\nPrimary Location : Asia-Mala...,
97,Mobile App Developer - Retail Banking(Swift),job_c71f620997bd5a21,amIT Global Solutions Pvt Ltd,Employer\nActive 13 days ago,Should have min 3 to 5 years of experience\nMa...,
98,Developer,job_53ccc207436003f5,UOB Innovation Hub 2 Sdn. Bhd.,Posted\nPosted 14 days ago,About UOB\nUnited Overseas Bank Limited (UOB) ...,
99,Supply Chain Planning -Technical Development (...,job_3ae13ecc87dd7bda,Michael Page,Posted\nPosted 14 days ago,Attractive Increment and bonus package\nHybrid...,
100,Technical Lead,job_6ef86785077d71a8,EZYHAUL SDN BHD,Employer\nActive 9 days ago,We are looking for a Technical Lead to design ...,

In [66]:
jobs_dataset['Cleaned_jdesc'] = jobs_dataset.Job_description.apply(lambda x: cleaning_resume_dataset(x))
jobs_dataset

,Job_title,Job_ID,Company_name,Job_posting,Job_description,Cleaned_jdesc
0,DevOps Engineer (Several Positions),job_348eb81c678cc10f,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,Job category IT Telekommunikation Department H...
1,Software Developer-JAVA( 6 months Contract),job_1b8e68905920f615,Optimum Infosolutions (M) Sdn Bhd,Posted\nJust posted,Job Title: Software Developer-Java\nJob Locati...,Job Title Software Developer Java Job Location...
2,APU - Internship -Software Development,job_09eb3d6809251a72,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,Job category IT Telekommunikation Department H...
3,Full Stack Developer (Several Positions),job_373b5cef2272ed25,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,Job category IT Telekommunikation Department H...
4,APU - Full Stack Developer - For Fresh Graduates,job_353145bc4bb1c68f,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,Job category IT Telekommunikation Department H...
...,...,...,...,...,...,...
96,Risk Manager - Public Cloud,job_4cb102c75f937f89,Standard Chartered,Posted\nPosted 13 days ago,Job : Technology\nPrimary Location : Asia-Mala...,Job Technology Primary Location Asia Malaysia ...
97,Mobile App Developer - Retail Banking(Swift),job_c71f620997bd5a21,amIT Global Solutions Pvt Ltd,Employer\nActive 13 days ago,Should have min 3 to 5 years of experience\nMa...,Should have min 3 to 5 years of experience Man...
98,Developer,job_53ccc207436003f5,UOB Innovation Hub 2 Sdn. Bhd.,Posted\nPosted 14 days ago,About UOB\nUnited Overseas Bank Limited (UOB) ...,About UOB United Overseas Bank Limited UOB is ...
99,Supply Chain Planning -Technical Development (...,job_3ae13ecc87dd7bda,Michael Page,Posted\nPosted 14 days ago,Attractive Increment and bonus package\nHybrid...,Attractive Increment and bonus package Hybrid ...
100,Technical Lead,job_6ef86785077d71a8,EZYHAUL SDN BHD,Employer\nActive 9 days ago,We are looking for a Technical Lead to design ...,We are looking for a Technical Lead to design ...

In [67]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [68]:
nltk.download('punkt')
nltk.download('stopwords')

#these are all for the tokenization process, which is essentially the process of breaking down larger sentences into smaller chunks

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\study\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\study\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [69]:
def preprocess_text(text):
    text = text.lower()
    text = ''.join([char for char in text if char.isalpha() or char.isspace()])
    words = word_tokenize(text)
    words = [word for word in words if word not in set(stopwords.words('english'))]
    lemmatized_words = [token.lemma_ for token in nlp(' '.join(words))]
    text = ' '.join(lemmatized_words)
    return text

resume_dataset['Cleaned_resume'] = resume_dataset.Cleaned_resume.apply(lambda x: preprocess_text(x))
jobs_dataset['Cleaned_jdesc'] = jobs_dataset.Cleaned_jdesc.apply(lambda x: preprocess_text(x))

In [70]:
resume_dataset

,Category,Resume,Cleaned_resume
551,Python Developer,Technical Skills / Responsibilities: â¢ Hands...,technical skill responsibilitie hand experienc...
552,Python Developer,Education Details \r\nJune 2013 to June 2016 D...,education detail june june diploma computer sc...
553,Python Developer,TECHNICAL PROFICIENCIES Platform: Ubuntu/Fedor...,technical proficiency platform ubuntu fedora c...
554,Python Developer,Technical Skills: Languages Python Python Fram...,technical skill language python python framewo...
555,Python Developer,Training attended: 1. Successfully completed E...,training attend su essfully complete esd progr...
...,...,...,...
649,DevOps Engineer,Software Proficiency: â¢ Languages: Basics of...,software proficiency language basics c sql pl ...
650,DevOps Engineer,CORE COMPETENCIES ~ Ant ~ Maven ~ GIT ~ Bitbuc...,core competency ant maven git bitbucket jenkin...
651,DevOps Engineer,Skills VISA B1-VISA (USA) Onsite Visits to Swe...,skill visa b visa usa onsite visit sweden us s...
652,DevOps Engineer,Software Proficiency: â¢ Languages: Basics of...,software proficiency language basics c sql pl ...
653,DevOps Engineer,CORE COMPETENCIES ~ Ant ~ Maven ~ GIT ~ Bitbuc...,core competency ant maven git bitbucket jenkin...

In [71]:
jobs_dataset

,Job_title,Job_ID,Company_name,Job_posting,Job_description,Cleaned_jdesc
0,DevOps Engineer (Several Positions),job_348eb81c678cc10f,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,job category telekommunikation department hr b...
1,Software Developer-JAVA( 6 months Contract),job_1b8e68905920f615,Optimum Infosolutions (M) Sdn Bhd,Posted\nJust posted,Job Title: Software Developer-Java\nJob Locati...,job title software developer java job location...
2,APU - Internship -Software Development,job_09eb3d6809251a72,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,job category telekommunikation department hr b...
3,Full Stack Developer (Several Positions),job_373b5cef2272ed25,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,job category telekommunikation department hr b...
4,APU - Full Stack Developer - For Fresh Graduates,job_353145bc4bb1c68f,Mercedes-Benz Malaysia Sdn. Bhd.,Posted\nJust posted,Job category:\nIT / Telekommunikation\nDepartm...,job category telekommunikation department hr b...
...,...,...,...,...,...,...
96,Risk Manager - Public Cloud,job_4cb102c75f937f89,Standard Chartered,Posted\nPosted 13 days ago,Job : Technology\nPrimary Location : Asia-Mala...,job technology primary location asia malaysia ...
97,Mobile App Developer - Retail Banking(Swift),job_c71f620997bd5a21,amIT Global Solutions Pvt Ltd,Employer\nActive 13 days ago,Should have min 3 to 5 years of experience\nMa...,min year experience mandatory swift good fastl...
98,Developer,job_53ccc207436003f5,UOB Innovation Hub 2 Sdn. Bhd.,Posted\nPosted 14 days ago,About UOB\nUnited Overseas Bank Limited (UOB) ...,uob united overseas bank limit uob lead bank a...
99,Supply Chain Planning -Technical Development (...,job_3ae13ecc87dd7bda,Michael Page,Posted\nPosted 14 days ago,Attractive Increment and bonus package\nHybrid...,attractive increment bonus package hybrid work...
100,Technical Lead,job_6ef86785077d71a8,EZYHAUL SDN BHD,Employer\nActive 9 days ago,We are looking for a Technical Lead to design ...,look technical lead design structure system ma...

In [72]:
resume_embeddings = [nlp(text).vector for text in resume_dataset['Cleaned_resume']]
jobs_embeddings = [nlp(text).vector for text in jobs_dataset['Cleaned_jdesc']]

X_train, X_test, y_train, y_test = train_test_split(resume_embeddings, range(len(jobs_embeddings)), test_size=0.3, random_state=42)
# Split the data into training and testing sets (70/30 ratio)

In [73]:
from sklearn.metrics.pairwise import cosine_similarity

In [74]:
similarity_scores = cosine_similarity(X_train, jobs_embeddings)

In [75]:
best_matches = []
for i in range(len(similarity_scores)):
    best_match_index = similarity_scores[i].argmax()
    best_match_score = similarity_scores[i][best_match_index]
    best_matches.append((i, best_match_index, best_match_score))

#Finding the best match for the resume in the training set

In [76]:
results_dataframe = pd.DataFrame(best_matches, columns=['Resume_index', 'Jobs_index', 'Match_score'])
#Creating a dataframe to store the results

In [77]:
print("Training Set Results: ")
results_dataframe

Training Set Results:

    Resume_index  Jobs_index  Match_score
0              0          28     0.953619
1              1          68     0.979619
2              2          71     0.976155
3              3          58     0.904440
4              4          68     0.979619
..           ...         ...          ...
65            65          68     0.979619
66            66          28     0.923569
67            67          28     0.874076
68            68          28     0.923569
69            69          68     0.980110

[70 rows x 3 columns]

In [78]:
test_similarity_scores = cosine_similarity(X_test, jobs_embeddings)

In [79]:
test_best_matches = []
for i in range(len(test_similarity_scores)):
    best_match_index = test_similarity_scores[i].argmax()
    best_match_score = test_similarity_scores[i][best_match_index]
    test_best_matches.append((i, best_match_index, best_match_score))

In [80]:
test_results_dataframe = pd.DataFrame(test_best_matches, columns=['Resume_index', 'Jobs_index', 'Match_score'])

In [81]:
print("Test Data Results: ")
test_results_dataframe

Test Data Results:

    Resume_index  Jobs_index  Match_score
0              0          28     0.923569
1              1          28     0.923569
2              2          71     0.976155
3              3          71     0.976155
4              4          28     0.953619
5              5          44     0.967298
6              6          44     0.967298
7              7          28     0.923569
8              8           2     0.950150
9              9          44     0.967298
10            10          58     0.904440
11            11          71     0.963275
12            12          71     0.976155
13            13          44     0.967298
14            14          68     0.979619
15            15           2     0.950150
16            16          71     0.976155
17            17          28     0.923569
18            18          44     0.967298
19            19           2     0.950150
20            20          71     0.976155
21            21          71     0.976155
22            22           2     0.950150
23            23          71     0.963275
24            24          68     0.979619
25            25          71     0.963275
26            26          58     0.904440
27            27          68     0.979619
28            28          71     0.963275
29            29          68     0.979619

In [82]:
import fitz #you have to pip install PyMuPDF for this, fitz is a PyMuPDF library

In [83]:
def pdf_to_text(pdf_path):
    try:
        with fitz.open(pdf_path) as pdf_document:
            text =""
            for page_number in range(pdf_document.page_count):
                page= pdf_document[page_number]
                text += page.get_text()
        return text
    except Exception as e:
        print(f"Error: {e}")
        return None

In [84]:
pdf_path = "..\\Resume_Miner\\Resumes\\android-developer-1559034496.pdf"
resume_extracted = pdf_to_text(pdf_path)

if (resume_extracted):
    print("Text extracted from pdf: \n")
    print(resume_extracted)
else:
    print("There was an error in extracting text from the pdf file.")

Text extracted from pdf:

Android Developer
ROBERT SMITH
Phone: (123) 456 78 99
Email: info@qwikresume.com
Website: www.qwikresume.com
LinkedIn:
linkedin.com/qwikresume
Address: 1737 Marshville Road,
Alabama.
Objective
Over 6 years of IT industry experience with 4+ years of experience as Mobile application
developer in the field of Android. Experience in developing front end applications for Android
phones. Experience developing mobile applications on Android platform, building Custom UI using
Views, ViewGroups, Layouts, Widgets and graphics that scale based on the screen size using 9-
patch images, localization, testing and publishing the applications to the Android Market.
Skills
Python, Java, C, Javascript, Matlab, R.
Work Experience
Android Developer
ABC Corporation ­ January 2011 – March 2012

Environment Eclipse IDE, Android Studio, GenyMotion, Java, Android SDK, Android
Development Tools (ADT), JSON, XML,

Involved in the full life cycle of the project including analysis design, development, debugging,
testing, and deployment.

Developed the application from specifications and requirement gathering.

Independently handled modules, scope, analysis, design, build, test the code, debug and
implement application.

Developed products section of the application which provided Multiple Activities, Custom
Adapters, Base Adapter, List views, Links, Web View, Text Views and so on.

Developed Navigation Drawer for the application, which provides better navigation of apps
features.

Created new UI Screens and key resource for layout UI work utilizing xml, Shape Drawable,
Text View, List View, Web View, Buttons, Activities, and Frame Layout.
Android Developer
ABC Corporation ­ 2006 – 2011

Helped Develop Insight, which is a tablet application that retrieves data from a CPE and
displays it

This is done to debug the DSL activity in someones home

Pulled info from a cloud server and coded it onto a tablet

Worked on UI and backend construction

Connected to various computer boards where I retrieved Wi-Fi information from a server -
Debugged code that was previously worked on by an outsourced company

There were many bugs and crashes in the app, and I cleaned them all, despite the size of the
code

Retrieved wiring and noise data from the CPE by connecting the tablet to the same network.
© This Free Resume Template is the copyright of Qwikresume.com. Usage
Guidelines
Education
IT Technology- 2011(Gyumri Information Technologies Center)
© This Free Resume Template is the copyright of Qwikresume.com. Usage
Guidelines

In [85]:
resume_extracted = cleaning_resume_dataset(resume_extracted)
resume_extracted

'Android Developer ROBE SMITH Phone 123 456 78 99 Email info Website www qwikresume com LinkedIn linkedin com qwikresume Address 1737 Marshville Road Alabama Objective Over 6 years of IT industry experience with 4 years of experience as Mobile application developer in the field of Android Experience in developing front end applications for Android phones Experience developing mobile applications on Android platform building Custom UI using Views ViewGroups Layouts Widgets and graphics that scale based on the screen size using 9 patch images localization testing and publishing the applications to the Android Market Skills Python Java C Javascript Matlab R Work Experience Android Developer ABC Corporation January 2011 March 2012 Environment Eclipse IDE Android Studio GenyMotion Java Android SDK Android Development Tools ADT JSON XML Involved in the full life cycle of the project including analysis design development debugging testing and deployment Developed the application from specifications and requirement gathering Independently handled modules scope analysis design build test the code debug and implement application Developed products section of the application which provided Multiple Activities Custom Adapters Base Adapter List views Links Web View Text Views and so on Developed Navigation Drawer for the application which provides better navigation of apps features Created new UI Screens and key resource for layout UI work utilizing xml Shape Drawable Text View List View Web View Buttons Activities and Frame Layout Android Developer ABC Corporation 2006 2011 Helped Develop Insight which is a tablet application that retrieves data from a CPE and displays it This is done to debug the DSL activity in someones home Pulled info from a cloud server and coded it onto a tablet Worked on UI and backend construction Connected to various computer boards where I retrieved Wi Fi information from a server Debugged code that was previously worked on by an outsourced company There were many bugs and crashes in the app and I cleaned them all despite the size of the code Retrieved wiring and noise data from the CPE by connecting the tablet to the same network This Free Resume Template is the copyright of Qwikresume com Usage Guidelines Education IT Technology 2011 Gyumri Information Technologies Center This Free Resume Template is the copyright of Qwikresume com Usage Guidelines '

In [86]:
resume_extracted = preprocess_text(resume_extracted)
resume_extracted

'android developer robe smith phone email info website www qwikresume com linkedin linkedin com qwikresume address marshville road alabama objective year industry experience year experience mobile application developer field android experience develop front end application android phone experience develop mobile application android platform build custom ui use view viewgroup layout widget graphic scale base screen size use patch image localization testing publishing application android market skill python java c javascript matlab r work experience android developer abc corporation january march environment eclipse ide android studio genymotion java android sdk android development tool adt json xml involve full life cycle project include analysis design development debug testing deployment develop application specification requirement gathering independently handle module scope analysis design build test code debug implement application develop product section application provide multiple activity custom adapter base adapter list view link web view text view develop navigation drawer application provide well navigation app feature create new ui screen key resource layout ui work utilize xml shape drawable text view list view web view button activity frame layout android developer abc corporation help develop insight tablet application retrieve data cpe display do debug dsl activity someones home pull info cloud server code onto tablet work ui backend construction connect various computer board retrieve wi fi information server debug code previously work outsourced company many bug crash app clean despite size code retrieve wiring noise data cpe connect tablet network free resume template copyright qwikresume com usage guideline education technology gyumri information technology center free resume template copyright qwikresume com usage guideline'

In [87]:
input_resume_embeddings =  nlp(resume_extracted).vector

In [88]:
cosine_similarities = cosine_similarity([input_resume_embeddings], jobs_embeddings)

In [89]:
top_3_indices = cosine_similarities.argsort()[0][::-1][:3]

In [90]:
top_3_matches = []
for index in top_3_indices:
    job_id = jobs_dataset.at[index, 'Job_ID']
    company_name = jobs_dataset.at[index, 'Company_name']
    match_score = cosine_similarities[0][index]
    job_title = jobs_dataset.at[index, 'Job_title']
    top_3_matches.append([job_id, company_name, job_title, match_score])

# Print or return the top 3 matches
top_3_matches_df = pd.DataFrame(top_3_matches, columns=['Job_ID', 'Company_name', 'Job_title', 'Match_score'])
print("Top 3 Job Matches:")
print(top_3_matches_df)

Top 3 Job Matches:
                 Job_ID          Company_name  \
0  job_44b359a4272a75c1  Tek Infotree Sdn Bhd
1  job_85ef8c044b319dc6      Sherwin-Williams
2  job_4f96c6e8f4706a3c    Standard Chartered

                                           Job_title  Match_score
0  Senior Data Engineer-2 pax | Work Hybrid | wit...     0.943774
1                 Lead Integration Platform Engineer     0.943774
2                                          Developer     0.941045